---
import {getPostUrlBySlug} from "@utils/url-utils";
import PostCard from "./PostCard.astro";

const {page} = Astro.props;

let delay = 0;
const interval = 50;

const enhancedData = page.data.map(entry => ({
    ...entry,
    render: () => {
        return {
            Content: () => {},
            headings: [],
            remarkPluginFrontmatter: {}
        };
    }
}));
---

<div class="transition flex flex-col rounded-[var(--radius-large)] bg-[var(--card-bg)] py-1 md:py-0 md:bg-transparent md:gap-4 mb-4">
    {enhancedData.map((entry) => {
        const imageUrl = entry.images && entry.images.length > 0 && entry.images[0].src ? entry.images[0].src : '';
        return (
            <PostCard
                    entry={entry}
                    title={entry.title}
                    tags={entry.tags}
                    categoryName={entry.category.name}
                    categorySlug={entry.category.slug}
                    published={entry.created}
                    modified={entry.modified}
                    url={getPostUrlBySlug(entry.category.slug, entry.slug)}
                    image={imageUrl}
                    description={entry.summary}
                    class:list="onload-animation"
                    style={`animation-delay: calc(var(--content-delay) + ${delay++ * interval}ms);`}
            ></PostCard>
        );
    })}
</div>